// font-family
$font-family: 'Noto Sans', '-apple-system', 'Helvetica Neue', helvetica, arial, sans-serif !default;
// primary - Blue
$blue-50: #ecf5ff !default;
$blue-100: #cee8ff !default;
$blue-200: #9acfff !default;
$blue-300: #71bbff !default;
$blue-400: #52adff !default;
$blue-500: #349eff !default;
$blue-600: #2f96ff !default;
$blue-700: #278cff !default;
$blue-800: #2182ff !default;
$blue-900: #1570ff !default;
$blue-a100: #eff4ff !default;
$blue-a200: #e1ecff !default;
$blue-a400: #c8dbff !default;
$blue-a700: #aecbff !default;
// primary - Dark Blue
$dark-blue-50: #dfe6f1 !default;
$dark-blue-100: #bec7da !default;
$dark-blue-200: #97a3b7 !default;
$dark-blue-300: #65748c !default;
$dark-blue-400: #43536d !default;
$dark-blue-500: #2f3e58 !default;
$dark-blue-600: #2a3850 !default;
$dark-blue-700: #233047 !default;
$dark-blue-800: #1d283d !default;
$dark-blue-900: #121b2d !default;
$dark-blue-a100: #6d9bff !default;
$dark-blue-a200: #3a79ff !default;
$dark-blue-a400: #0756ff !default;
$dark-blue-a700: #004bec !default;
// secondary - Light Blue
$light-blue-50: #ebf8ff !default;
$light-blue-100: #cdedff !default;
$light-blue-200: #ace1ff !default;
$light-blue-300: #8ad5ff !default;
$light-blue-400: #71ccff !default;
$light-blue-500: #58c3ff !default;
$light-blue-600: #50bdff !default;
$light-blue-700: #47b5ff !default;
$light-blue-800: #3daeff !default;
$light-blue-900: #2da1ff !default;
$light-blue-a100: #eff5ff !default;
$light-blue-a200: #dfeaff !default;
$light-blue-a400: #c8dbff !default;
$light-blue-a700: #a4c2f9 !default;
// secondary - Purple
$purple-50: #f3f2ff !default;
$purple-100: #e0dfff !default;
$purple-200: #cbcaff !default;
$purple-300: #b6b4ff !default;
$purple-400: #a7a4ff !default;
$purple-500: #9794ff !default;
$purple-600: #8f8cff !default;
$purple-700: #8481ff !default;
$purple-800: #7a77ff !default;
$purple-900: #6965ff !default;
$purple-a100: #fdfdff !default;
$purple-a200: #fafaff !default;
$purple-a400: #f4f4ff !default;
$purple-a700: #eef !default;
// secondary - Yellow
$yellow-50: #fff8ea !default;
$yellow-100: #ffedcb !default;
$yellow-200: #ffe1a8 !default;
$yellow-300: #ffd585 !default;
$yellow-400: #ffcc6a !default;
$yellow-500: #ffc350 !default;
$yellow-600: #ffbd49 !default;
$yellow-700: #ffb540 !default;
$yellow-800: #ffae37 !default;
$yellow-900: #ffa127 !default;
$yellow-a100: #fff7ee !default;
$yellow-a200: #fff3e6 !default;
$yellow-a400: #ffebd4 !default;
$yellow-a700: #ffe0bb !default;
// secondary - Red
$red-50: #ffeded !default;
$red-100: #ffd2d2 !default;
$red-200: #ffb5b5 !default;
$red-300: #ff9797 !default;
$red-400: #ff8080 !default;
$red-500: #ff6a6a !default;
$red-600: #ff6262 !default;
$red-700: #ff5757 !default;
$red-800: #ff4d4d !default;
$red-900: #ff3c3c !default;
$red-a100: #fffafa !default;
$red-a200: #fff3f3 !default;
$red-a400: #ffe5e5 !default;
$red-a700: #ffcbcb !default;
// secondary - Green
$green-50: #eafbf8 !default;
$green-100: #c9f4ec !default;
$green-200: #a6ede0 !default;
$green-300: #82e6d4 !default;
$green-400: #67e0ca !default;
$green-500: #4cdbc1 !default;
$green-600: #45d7bb !default;
$green-700: #3cd2b3 !default;
$green-800: #33cdab !default;
$green-900: #24c49e !default;
$green-a100: #dafff6 !default;
$green-a200: #bcffee !default;
$green-a400: #a2ffe7 !default;
$green-a700: #80ffdf !default;
// Uility - Accent - Deep Orange
$deep-orange-50: #fdf2e7 !default;
$deep-orange-100: #fadec4 !default;
$deep-orange-200: #f7c89d !default;
$deep-orange-300: #f4b175 !default;
$deep-orange-400: #f1a158 !default;
$deep-orange-500: #ef903a !default;
$deep-orange-600: #ed8834 !default;
$deep-orange-700: #eb7d2c !default;
$deep-orange-800: #e87325 !default;
$deep-orange-900: #e46118 !default;
$deep-orange-a100: #fff5f0 !default;
$deep-orange-a200: #ffece3 !default;
$deep-orange-a400: #ffc9b0 !default;
$deep-orange-a700: #ffb896 !default;
// Uility - positive - Light Green
$light-green-50: #ecf6ef !default;
$light-green-100: #d0ead7 !default;
$light-green-200: #b1dcbd !default;
$light-green-300: #91cda2 !default;
$light-green-400: #7ac38e !default;
$light-green-500: #62b87a !default;
$light-green-600: #5ab172 !default;
$light-green-700: #50a867 !default;
$light-green-800: #46a05d !default;
$light-green-900: #34914a !default;
$light-green-a100: #dcffe4 !default;
$light-green-a200: #a9ffbc !default;
$light-green-a400: #76ff94 !default;
$light-green-a700: #5dff81 !default;
// Uility - Negative - DeepRed
$deep-red-50: #faeced !default;
$deep-red-100: #f4cfd3 !default;
$deep-red-200: #ecafb6 !default;
$deep-red-300: #e48e98 !default;
$deep-red-400: #df7682 !default;
$deep-red-500: #d95e6c !default;
$deep-red-600: #d55664 !default;
$deep-red-700: #cf4c59 !default;
$deep-red-800: #ca424f !default;
$deep-red-900: #c0313d !default;
$deep-red-a100: #ffe7e8 !default;
$deep-red-a200: #ffd3d6 !default;
$deep-red-a400: #ffa0a7 !default;
$deep-red-a700: #ff868f !default;
// Uility - Warning - Orange
$orange-50: #fdf5e0 !default;
$orange-100: #f9e6b3 !default;
$orange-200: #f6d580 !default;
$orange-300: #f2c44d !default;
$orange-400: #efb726 !default;
$orange-500: #ecaa00 !default;
$orange-600: #eaa300 !default;
$orange-700: #e79900 !default;
$orange-800: #e49000 !default;
$orange-900: #df7f00 !default;
$orange-a100: #fff1e2 !default;
$orange-a200: #ffead3 !default;
$orange-a400: #ffd1a0 !default;
$orange-a700: #ffc586 !default;
// info - blue
$info-blue-50: #e7f5fd !default;
$info-blue-100: #c3e6fb !default;
$info-blue-200: #9bd5f8 !default;
$info-blue-300: #73c4f5 !default;
$info-blue-400: #55b8f2 !default;
$info-blue-500: #37abf0 !default;
$info-blue-600: #31a4ee !default;
$info-blue-700: #2a9aec !default;
$info-blue-800: #2391e9 !default;
$info-blue-900: #1680e5 !default;
$info-blue-a100: #eef6ff !default;
$info-blue-a200: #e2f0ff !default;
$info-blue-a400: #afd6ff !default;
$info-blue-a700: #96c8ff !default;
// Netural - Grey
$grey-50: #e5e5e5 !default;
$grey-100: #bfbfbf !default;
$grey-200: #949494 !default;
$grey-300: #696969 !default;
$grey-400: #484848 !default;
$grey-500: #282828 !default;
$grey-600: #242424 !default;
$grey-700: #1e1e1e !default;
$grey-800: #181818 !default;
$grey-900: #0f0f0f !default;
//$grey-a100  : #EE6767 !default;
//$grey-a200  : #E93A3A !default;
$grey-a300: #6d7b92 !default;
// $grey-a400  : #F00000 !default;
//$grey-a700  : #D60000 !default;
// Netural - Light
$light-50: #f9fafa !default;
$light-100: #f2f5f9 !default;
$light-150: #f1f3f7 !default;
$light-200: #e9edf2 !default;
$light-300: #dde0e4 !default;
$light-400: #d5dadf !default;
$light-500: #ced3d9 !default;
$light-600: #c9ced5 !default;
$light-700: #c2c8cf !default;
$light-800: #bcc2ca !default;
$light-900: #b0b7c0 !default;
$light-a100: #f6faff !default;
$light-a200: #f0f7ff !default;
$light-a400: #e9f3ff !default;
$light-a700: #dfecfc !default;
// White
$white: #fff !default;

// color variables
// Primary
$primary: $blue-500 !default;
$primary-dark: $blue-900 !default;
$primary-light: $blue-100 !default;
$primary-alt: $blue-300 !default;
$primary-dark-alt: $blue-700 !default;
$primary-light-alt: $blue-50 !default;
$primary02: $dark-blue-500 !default;
$primary02-dark: $dark-blue-700 !default;
$primary02-light: $dark-blue-100 !default;
$primary02-alt: $dark-blue-400 !default;
$primary02-dark-alt: $dark-blue-600 !default;
$primary02-light-alt: $dark-blue-50 !default;
// Secondary
$secondary: $light-blue-500 !default;
$secondary-alt: $light-blue-200 !default;
$secondary02: $purple-500 !default;
$secondary02-alt: $purple-200 !default;
$secondary03: $yellow-500 !default;
$secondary03-alt: $yellow-200 !default;
$secondary04: $red-500 !default;
$secondary04-alt: $red-200 !default;
$secondary05: $green-500 !default;
$secondary05-alt: $green-200 !default;
// Uility
$accent: $deep-orange-500 !default;
$accent-dark: $deep-orange-700 !default;
$accent-alt: $deep-orange-200 !default;
$accent-bg: $deep-orange-50 !default;
$positive: $light-green-500 !default;
$positive-dark: $light-green-700 !default;
$positive-alt: $light-green-200 !default;
$positive-bg: $light-green-50 !default;
$negative: $deep-red-500 !default;
$negative-dark: $deep-red-700 !default;
$negative-alt: $deep-red-200 !default;
$negative-bg: $deep-red-50 !default;
$warning: $orange-500 !default;
$warning-dark: $orange-700 !default;
$warning-alt: $orange-200 !default;
$warning-bg: $orange-50 !default;
$processing: $blue-a700 !default;
$processing-dark: $light-blue-a700 !default;
$processing-alt: $blue-a400 !default;
$processing-bg: $blue-a200 !default;
$info: $info-blue-500 !default;
$info-dark: $info-blue-700 !default;
$info-alt: $info-blue-200 !default;
$info-bg: $info-blue-50 !default;
$success: $positive !default;
$error: $negative !default;
// Text
$text-01: $dark-blue-900 !default;
$text-02: $dark-blue-500 !default;
$text-03: $dark-blue-400 !default;
$text-04: $dark-blue-200 !default;
$text-05: $grey-a300 !default;
$text-disable: $light-800 !default;
$text-white: $white !default;
// Border
$bd-body: $light-300 !default;
$bd-normal: $light-400 !default;
$bd-normal-hover: $light-900 !default;
$bd-input-type: $blue-400 !default;
$bd-table: $light-200 !default;
// Background
$bg-main: $light-150 !default;
$bg-main-alt: $light-50 !default;
$bg-main-dark: $light-300 !default;
$bg-main-disable: $light-200 !default;
//$bg-white         : $white !default;
$bg-dark: $grey-500 !default;
// Overlay
$overlay-light: rgba($light-50, 0.8) !default;
$overlay-dark: rgba($grey-900, 0.8) !default;
// Shadow
$shadow: $grey-500 !default;
// Grey (中性色)
$grey-default: $grey-400 !default;
$grey-default-dark: $grey-600 !default;
$grey-default-alt: $grey-200 !default;
$grey-default-bg: $grey-50 !default;

:root {
  --q-color-primary: #349eff;
  --q-color-secondary: #58c3ff;
  --q-color-accent: #ef903a;
  --q-color-positive: #62b87a;
  --q-color-negative: #d95e6c;
  --q-color-info: #37abf0;
  --q-color-warning: #ecaa00;
  //--q-color-dark: $dark;
}

$bluePalettes: ('blue-50': $blue-50, 'blue-100': $blue-100, 'blue-200': $blue-200, 'blue-300': $blue-300, 'blue-400': $blue-400, 'blue-500': $blue-500, 'blue-600': $blue-600, 'blue-700': $blue-700, 'blue-800': $blue-800, 'blue-900': $blue-900, 'blue-a100': $blue-a100, 'blue-a200': $blue-a200, 'blue-a400': $blue-a400, 'blue-a700': $blue-a700);
$darkBluePalettes: ('dark-blue-50': $dark-blue-50, 'dark-blue-100': $dark-blue-100, 'dark-blue-200': $dark-blue-200, 'dark-blue-300': $dark-blue-300, 'dark-blue-400': $dark-blue-400, 'dark-blue-500': $dark-blue-500, 'dark-blue-600': $dark-blue-600, 'dark-blue-700': $dark-blue-700, 'dark-blue-800': $dark-blue-800, 'dark-blue-900': $dark-blue-900, 'dark-blue-a100': $dark-blue-a100, 'dark-blue-a200': $dark-blue-a200, 'dark-blue-a400': $dark-blue-a400, 'dark-blue-a700': $dark-blue-a700);
$lightBluePalettes: ('light-blue-50': $light-blue-50, 'light-blue-100': $light-blue-100, 'light-blue-200': $light-blue-200, 'light-blue-300': $light-blue-300, 'light-blue-400': $light-blue-400, 'light-blue-500': $light-blue-500, 'light-blue-600': $light-blue-600, 'light-blue-700': $light-blue-700, 'light-blue-800': $light-blue-800, 'light-blue-900': $light-blue-900, 'light-blue-a100': $light-blue-a100, 'light-blue-a200': $light-blue-a200, 'light-blue-a400': $light-blue-a400, 'light-blue-a700': $light-blue-a700);
$purplePalettes: ('purple-50': $purple-50, 'purple-100': $purple-100, 'purple-200': $purple-200, 'purple-300': $purple-300, 'purple-400': $purple-400, 'purple-500': $purple-500, 'purple-600': $purple-600, 'purple-700': $purple-700, 'purple-800': $purple-800, 'purple-900': $purple-900, 'purple-a100': $purple-a100, 'purple-a200': $purple-a200, 'purple-a400': $purple-a400, 'purple-a700': $purple-a700);
$yellowPalettes: ('yellow-50': $yellow-50, 'yellow-100': $yellow-100, 'yellow-200': $yellow-200, 'yellow-300': $yellow-300, 'yellow-400': $yellow-400, 'yellow-500': $yellow-500, 'yellow-600': $yellow-600, 'yellow-700': $yellow-700, 'yellow-800': $yellow-800, 'yellow-900': $yellow-900, 'yellow-a100': $yellow-a100, 'yellow-a200': $yellow-a200, 'yellow-a400': $yellow-a400, 'yellow-a700': $yellow-a700);
$redPalettes: ('red-50': $red-50, 'red-100': $red-100, 'red-200': $red-200, 'red-300': $red-300, 'red-400': $red-400, 'red-500': $red-500, 'red-600': $red-600, 'red-700': $red-700, 'red-800': $red-800, 'red-900': $red-900, 'red-a100': $red-a100, 'red-a200': $red-a200, 'red-a400': $red-a400, 'red-a700': $red-a700);
$greenPalettes: ('green-50': $green-50, 'green-100': $green-100, 'green-200': $green-200, 'green-300': $green-300, 'green-400': $green-400, 'green-500': $green-500, 'green-600': $green-600, 'green-700': $green-700, 'green-800': $green-800, 'green-900': $green-900, 'green-a100': $green-a100, 'green-a200': $green-a200, 'green-a400': $green-a400, 'green-a700': $green-a700);
$deepOrangePalettes: ('deep-orange-50': $deep-orange-50, 'deep-orange-100': $deep-orange-100, 'deep-orange-200': $deep-orange-200, 'deep-orange-300': $deep-orange-300, 'deep-orange-400': $deep-orange-400, 'deep-orange-500': $deep-orange-500, 'deep-orange-600': $deep-orange-600, 'deep-orange-700': $deep-orange-700, 'deep-orange-800': $deep-orange-800, 'deep-orange-900': $deep-orange-900, 'deep-orange-a100': $deep-orange-a100, 'deep-orange-a200': $deep-orange-a200, 'deep-orange-a400': $deep-orange-a400, 'deep-orange-a700': $deep-orange-a700);
$lightGreenPalettes: ('light-green-50': $light-green-50, 'light-green-100': $light-green-100, 'light-green-200': $light-green-200, 'light-green-300': $light-green-300, 'light-green-400': $light-green-400, 'light-green-500': $light-green-500, 'light-green-600': $light-green-600, 'light-green-700': $light-green-700, 'light-green-800': $light-green-800, 'light-green-900': $light-green-900, 'light-green-a100': $light-green-a100, 'light-green-a200': $light-green-a200, 'light-green-a400': $light-green-a400, 'light-green-a700': $light-green-a700);
$deepRedPalettes: ('deep-red-50': $deep-red-50, 'deep-red-100': $deep-red-100, 'deep-red-200': $deep-red-200, 'deep-red-300': $deep-red-300, 'deep-red-400': $deep-red-400, 'deep-red-500': $deep-red-500, 'deep-red-600': $deep-red-600, 'deep-red-700': $deep-red-700, 'deep-red-800': $deep-red-800, 'deep-red-900': $deep-red-900, 'deep-red-a100': $deep-red-a100, 'deep-red-a200': $deep-red-a200, 'deep-red-a400': $deep-red-a400, 'deep-red-a700': $deep-red-a700);
$orangePalettes: ('orange-50': $orange-50, 'orange-100': $orange-100, 'orange-200': $orange-200, 'orange-300': $orange-300, 'orange-400': $orange-400, 'orange-500': $orange-500, 'orange-600': $orange-600, 'orange-700': $orange-700, 'orange-800': $orange-800, 'orange-900': $orange-900, 'orange-a100': $orange-a100, 'orange-a200': $orange-a200, 'orange-a400': $orange-a400, 'orange-a700': $orange-a700);
$infoBluePalettes: ('info-blue-50': $info-blue-50, 'info-blue-100': $info-blue-100, 'info-blue-200': $info-blue-200, 'info-blue-300': $info-blue-300, 'info-blue-400': $info-blue-400, 'info-blue-500': $info-blue-500, 'info-blue-600': $info-blue-600, 'info-blue-700': $info-blue-700, 'info-blue-800': $info-blue-800, 'info-blue-900': $info-blue-900, 'info-blue-a100': $info-blue-a100, 'info-blue-a200': $info-blue-a200, 'info-blue-a400': $info-blue-a400, 'info-blue-a700': $info-blue-a700);
//$greyPalettes: ('grey-50': $grey-50, 'grey-100': $grey-100, 'grey-200': $grey-200, 'grey-300': $grey-300, 'grey-400': $grey-400, 'grey-500': $grey-500, 'grey-600': $grey-600, 'grey-700': $grey-700, 'grey-800': $grey-800, 'grey-900': $grey-900, 'grey-a100': $grey-a100, 'grey-a200': $grey-a200, 'grey-a400': $grey-a400, 'grey-a700': $grey-a700);
$greyPalettes: ('grey-50': $grey-50, 'grey-100': $grey-100, 'grey-200': $grey-200, 'grey-300': $grey-300, 'grey-400': $grey-400, 'grey-500': $grey-500, 'grey-600': $grey-600, 'grey-700': $grey-700, 'grey-800': $grey-800, 'grey-900': $grey-900, 'grey-a300': $grey-a300);
$lightPalettes: ('light-50': $light-50, 'light-100': $light-100, 'light-150': $light-150, 'light-200': $light-200, 'light-300': $light-300, 'light-400': $light-400, 'light-500': $light-500, 'light-600': $light-600, 'light-700': $light-700, 'light-800': $light-800, 'light-900': $light-900, 'light-a100': $light-a100, 'light-a200': $light-a200, 'light-a400': $light-a400, 'light-a700': $light-a700);
$whitePalettes: ('white': $white);

$primaryColors: ('primary': $primary, 'primary-dark': $primary-dark, 'primary-light': $primary-light, 'primary-alt': $primary-alt, 'primary-dark-alt': $primary-dark-alt, 'primary-light-alt': $primary-light-alt, 'primary02': $primary02, 'primary02-dark': $primary02-dark, 'primary02-light': $primary02-light, 'primary02-alt': $primary02-alt, 'primary02-dark-alt': $primary02-dark-alt, 'primary02-light-alt': $primary02-light-alt );
$secondaryColors: ('secondary': $secondary, 'secondary-alt': $secondary-alt, 'secondary02': $secondary02, 'secondary02-alt': $secondary02-alt, 'secondary03': $secondary03, 'secondary03-alt': $secondary03-alt, 'secondary04': $secondary04, 'secondary04-alt': $secondary04-alt, 'secondary05': $secondary05, 'secondary05-alt': $secondary05-alt);
$uilityColors: ('accent': $accent, 'accent-dark': $accent-dark, 'accent-alt': $accent-alt, 'accent-bg': $accent-bg, 'positive': $positive, 'positive-dark': $positive-dark, 'positive-alt': $positive-alt, 'positive-bg': $positive-bg, 'negative': $negative, 'negative-dark': $negative-dark, 'negative-alt': $negative-alt, 'negative-bg': $negative-bg, 'warning': $warning, 'warning-dark': $warning-dark, 'warning-alt': $warning-alt, 'warning-bg': $warning-bg, 'processing': $processing, 'processing-dark': $processing-dark, 'processing-alt': $processing-alt, 'processing-bg': $processing-bg, 'info': $info, 'info-dark': $info-dark, 'info-alt': $info-alt, 'info-bg': $info-bg, 'success': $success, 'error': $error );
$greyColors: ('grey-default': $grey-default, 'grey-default-dark': $grey-default-dark, 'grey-default-alt': $grey-default-alt, 'grey-default-bg': $grey-default-bg );
$mainColors: ('primary': $primary, 'secondary': $secondary, 'accent': $accent, 'positive': $positive, 'negative': $negative, 'info': $info, 'warning': $warning );

$textColors: ('text-01': $text-01, 'text-02': $text-02, 'text-03': $text-03, 'text-04': $text-04, 'text-05': $text-05, 'text-disable': $text-disable, 'text-white': $text-white );
$borderColors: ('bd-body': $bd-body, 'bd-normal': $bd-normal, 'bd-normal-hover': $bd-normal-hover, 'bd-input-type': $bd-input-type, 'bd-table': $bd-table );
$backgroundColors: ('bg-main': $bg-main, 'bg-main-alt': $bg-main-alt, 'bg-main-dark': $bg-main-dark, 'bg-main-disable': $bg-main-disable, 'bg-dark': $bg-dark );
$overlayColors: ('overlay-light': $overlay-light, 'overlay-dark': $overlay-dark, 'shadow': $shadow );
